body {
	text-align: center;
	font-family: 'Arial Bold';
	font-size: 30px;
/*	background-image: url("./assets/chemistry.jpg");*/
	background-image: url("background.jpg");
	/*background-image: url("./background.jpg");*/

}